
@{
    ViewData["Title"] = "MakeOrders";
}

@model OrderPM

@{
    var weddingServices = (List<ServicePM>)ViewBag.Services;
}

<style>
    .error-message {
        height: 28px;
        line-height: 28px;
    }

    label {
        font-size: 18px;
    }
</style>

<div class="container-fluid margin-top-100px">
    <div class="row justify-content-center">
        <h1>Заказ свадебной услуги</h1>
    </div>
    <div class="row justify-content-center mt-3">
        @foreach (var serviceType in weddingServices)
        {
            <div class="col-3 text-center p-3 pt-5 mx-3" style="background-color: #777777; border-radius: 20px !important; color: #ffffff; ">
                @{
                    string[] descriptions = serviceType.Description.Split('&');
                }
                <h2>@serviceType.Name</h2>
                <img src="~/images/wedding_services_icons/wedding_service.svg" alt="Alternate Text" width="50" />
                <div>
                    <h3 class="mt-2">Основной пакет</h3>
                    <ul class="services-list">
                        @foreach (var description in descriptions)
                        {
                            <li>@description</li>
                        }
                    </ul>
                </div>
                @if (serviceType.Additions.Count != 0)
                {
                    <div>
                        <h3 class="mt-2">Вы также можете добавить в свой пакет:</h3>
                        <ul class="services-list">
                            @foreach (var addition in serviceType.Additions)
                            {
                                <li>@addition.Name</li>
                            }
                        </ul>
                    </div>
                }
                <h1>@serviceType.Price₴</h1>
            </div>
        }
    </div>
    <div class="row justify-content-center">
        <div class="col-6 mb-5 mt-4">
            <form id="order-form">
                <div class="form-group row">
                    <div class="col-6">
                        <label for="service-type-id" class="ml-2">Выберите тип услуги</label>
                    </div>
                    <div class="col-6 error-message service-type-msg visibility-hidden">
                        <p>Выберите тип</p>
                    </div>
                    <div class="col-md-12 mb-4 mb-lg-0">
                        <select id="service-type-id" class="form-control photogallery-select service-type" name="ServiceId">
                            <option hidden value="0">Выберите тип услуги</option>
                            @foreach (var weddingService in weddingServices)
                            {
                                <option value="@weddingService.Id" data-price="@weddingService.Price">@weddingService.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-12 additions-content">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="project-date" class="ml-2">Дата события</label>
                    </div>
                    <div class="col-6 error-message project-date-msg visibility-hidden">
                        <p>Укажите корректную дату</p>
                    </div>
                    <div class="col-md-12 mb-4 mb-lg-0">
                        <input type="date" id="project-date" class="form-control photogallery-input project-date" name="ProjectDate" placeholder="Дата события*">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="address" class="ml-2">Адрес</label>
                    </div>
                    <div class="col-6 error-message address-msg visibility-hidden">
                        <p>Заполните это поле</p>
                    </div>
                    <div class="col-md-12">
                        <input type="text" id="address" class="form-control photogallery-input address" name="Address" placeholder="Адрес*">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="addition-info" class="ml-2">Дополнительная информация</label>
                    </div>
                    <div class="col-6">
                    </div>
                    <div class="col-md-12">
                        <textarea id="addition-info" class="form-control photogallery-textarea description" name="Description" placeholder="Дополнительная информация" cols="30" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 mr-auto">
                        <input type="submit" class="btn btn-block photogallery-btn-orange text-white px-5 photogallery-submit-btn" value="Отправить заказ">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-3 mt-4">
            <div class="form-group row">
                <div class="col-6">
                    <label for="price" class="ml-2">Сумма</label>
                </div>
                <div class="col-md-12">
                    <input type="text" id="price" class="form-control photogallery-input price" value="" readonly>
                </div>
            </div>
        </div>
    </div>
</div>

