@using PhotoAndVideoServices.Enums

@model List<ServiceTypePM>


@{
    ViewData["Title"] = "ShowServicesTypes";
}

<div class="container-fluid services-container">
    <div class="row ml-5 justify-content-center">
        <h1>Наши услуги</h1>
    </div>
    <div class="row justify-content-center">
        @foreach (var serviceType in Model)
        {
            if (serviceType.Id == (int)ServicesNames.WEDDING_SERVICES)
            {
                <div class="card p-3 ml-5">
                    <div>
                        <img class="service-image" src="~/images/main_image.jpg" alt="Alternate Text" />
                    </div>

                    <div class="mt-2 width-380 text-center">
                        <h3 class="photogallery-title">@serviceType.Name</h3>
                    </div>
                    <div class="service-description text-center">
                        <p>
                            @serviceType.Description
                        </p>
                    </div>
                    <div class="mt-4">
                        <div class="row justify-content-center">
                            <a class="photogallery-btn-orange" asp-action="ShowWeddingServices" asp-controller="WeddingServices">Узнать больше</a>
                        </div>
                    </div>
                </div>
            }

            else if (serviceType.Id == (int)ServicesNames.CORPORATE_SERVICES)
            {
                <div class="card p-3 ml-5">
                    <div>
                        <img class="service-image" src="~/images/corporate.jpg" alt="Alternate Text" />
                    </div>

                    <div class="mt-2 width-380 text-center">
                        <h3 class="photogallery-title">@serviceType.Name</h3>
                    </div>
                    <div class="service-description text-center">
                        <p>
                            @serviceType.Description
                        </p>
                    </div>
                    <div class="mt-4">
                        <div class="row justify-content-center">
                            <a class="photogallery-btn-orange" asp-action="ShowCorporateServices" asp-controller="CorporateServices">Узнать больше</a>
                        </div>
                    </div>
                </div>
            }

            else if (serviceType.Id == (int)ServicesNames.SPECIAL_EVENT_SERVICES)
            {
                <div class="card p-3 ml-5">
                    <div>
                        <img class="service-image" src="~/images/sport-event.jpg" alt="Alternate Text" />
                    </div>
                    <div class="mt-2 width-380 text-center">
                        <h3 class="photogallery-title">@serviceType.Name</h3>
                    </div>
                    <div class="service-description text-center">
                        <p>
                            @serviceType.Description
                        </p>
                    </div>
                    <div class="mt-4">
                        <div class="row justify-content-center">
                            <a class="photogallery-btn-orange" asp-action="ShowSpecialEventServices" asp-controller="SpecialEventServices">Узнать больше</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    @*<div class="row mt-3">
        <div class="col-1"></div>
        <div class="col-10">
            <h3>Возможные дополнения к услугам: </h3>
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-10">
            <table class="table">
                <tbody>
                    @foreach (var addition in ViewBag.Additions)
                    {
                        <tr class="tr-border">
                            <td>@addition.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>*@
    <div class="row mt-3">
        <div class="col-2"></div>
        <div class="col-8 text-center">
            <h1>Мы используем</h1>
            <p>Оператор камеры, запись в формате HD, освещение на камере, общий звуковой пакет (аудио на камере, 2 беспроводных устройства, 1 портативный) и все периферийное оборудование.
            </p>
            <img src="~/images/camera_equipment.jpg" alt="Alternate Text" width="800" />
        </div>
        <div class="col-2"></div>
    </div>
</div>