
@model OrderPM

@{
    ViewData["Title"] = "ShowOrder";
}

<style>
    .photogallery-btn-orange {
        width: 230px;
    }

    .height-50 {
        height: 50px;
    }
</style>

<div class="container-fluid margin-top-100px">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1>Заказ №@Model.Id</h1>
        </div>
        <div class="col-lg-8 mb-5">
            <div class="form-group row">
                <div class="col-6">
                    <label for="" class="ml-2">Заказчик</label>
                </div>
                <div class="col-md-12 mb-4 mb-lg-0">
                    <input type="text" class="form-control photogallery-input name" value="@Model.User.FullName" disabled>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label for="" class="ml-2">Тип услуги</label>
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control photogallery-input" value="@Model.Service.Name" disabled>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label for="" class="ml-2">Дополнения к заказу:</label>
                </div>
                <div class="col-md-12">
                    <ul class="list-group">
                        @foreach (var addition in Model.Additions)
                        {
                            <li class="list-group-item">@addition.Name</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label for="" class="ml-2">Описание заказа</label>
                </div>
                <div class="col-md-12">
                    <textarea class="form-control photogallery-input" disabled>@Model.Description</textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label for="" class="ml-2">Дата события</label>
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control photogallery-input" value="@Model.ProjectDate.Value.ToShortDateString()" disabled>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label for="" class="ml-2">Статус</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control photogallery-input height-50" disabled value=@Model.StatusName>
                </div>
                <div class="col-md-3">
                    <button class="photogallery-btn-orange change change-status" data-toggle="modal" data-target="#ChangeStatusModal">Изменить статус</button>
                </div>
            </div>
            <div class="form-group row">
                @{
                    string employeeName = "";
                    if (Model.Employees != null)
                    {
                        foreach (var employee in Model.Employees)
                        {
                            employeeName += $"{employee.FullName}; ";
                        }
                    }
                }
                <div class="col-6">
                    <label for="" class="ml-2">Исполнители заказа</label>
                </div>
                <div class="col-md-9">
                    <textarea class="form-control photogallery-input height-50" disabled rows="7">@employeeName</textarea>
                </div>
                <div class="col-md-3">
                    <button class="photogallery-btn-orange" data-toggle="modal" data-target="#ChooseEmployeesModal">Выбрать исполнителя</button>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_ChangeStatusModal", (OrderPM)Model)
@await Html.PartialAsync("_ChooseEmployeesModal", (OrderPM)Model)

